<div class="profile-finder">
  <div class="container">
      <div class="group">
          {{input id="autocomplete" focus-in="onFocus" placeholder="" type="text" value=searchText required=true}}
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Enter a location</label>
      </div>
  </div>
</div>