<canvas id="weatherChart"></canvas>
<div align="center" id="weatherChartError" class="hide">
    <div class="valign">
        <i class="fa fa-exclamation-triangle warning-color" aria-hidden="true"></i><b class="padLeft10" id="weatherChartErrorMsg">Sorry, But no minutely precipitation data was found for this location.</b>
    </div>
</div>
