.profile-finder {
  .container {
    max-width: 672px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 15px 50px 50px;
  }

  .group {
    position: relative;
    margin-bottom: 45px;
  }

  input {
    font-size: 18px;
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    &:focus {
      outline: none;
    }
  }

  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input {
    &:focus ~ label, &:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #1058ab;
    }
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before, &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #1058ab;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }

  input:focus ~ .bar {
    &:before, &:after {
      width: 50%;
    }
  }

  .highlight {
    position: absolute;
    height: 60%;
    max-width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.2;
  }

  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  @-webkit-keyframes inputHighlighter {
    from {
      background: #1058ab;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  @-moz-keyframes inputHighlighter {
    from {
      background: #1058ab;
    }

    to {
      width: 0;
      background: transparent;
    }
  }

  @keyframes inputHighlighter {
    from {
      background: #1058ab;
    }

    to {
      width: 0;
      background: transparent;
    }
  }
}
